# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

venv/

# old
hollowscan-1b311-firebase-adminsdk-fbsvc-779a5875e8.json
hollowscan-1b311-firebase-adminsdk-fbsvc-740e1b1986.json
glossy-metric-455008-p1-55180b5daaf8.json



iap-exports.txt
iap_diagnostic_report.md
iap_codebase_map.md
iap_implementation_plan.md



# never forget to take this out before you build.. then untrack it using `git rm --cached eas.json` to bring it back when you're done
# eas.json
# google-services.json


# ios build only --- for push notifications
GoogleService-Info.plist







# new one --- On no account should these be pushed to github
glossy-metric-455008-p1-68bb08c2ed4d.json
hollowscan-1b311-firebase-adminsdk-fbsvc-737122cecd.json


# ....
AuthKey_KJY2TRV893.p8